@font-face {
    font-family: "adobe";
    src: url("../fonts/AdobeClean-Regular.woff2") format("woff2");
    src: url("../fonts/AdobeClean-Regular.woff") format("woff");
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
body{
    font-family: adobe,sans-serif;
}
.main{
    width: 90vw;
    height: 120vw;
    margin: auto;
    font-family: adobe,sans-serif;
    position: relative;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr repeat(2, 2fr);
    grid-template-rows: repeat(5, 3fr) 1.5fr;
    grid-template-areas:
    "slider header header"
    "slider gallery1 gallery2"
    "slider gallery3 gallery4"
    "slider gallery5 gallery6"
    "slider gallery7 gallery8"
    "slider fotter fotter"
}
@media only screen and (max-width: 650px){
.main{
    height: 450vh;
    display: grid;
    grid-template-columns: 1.5fr;
    grid-template-rows: 0.5fr 2fr repeat(8, 6fr) 2fr;
    grid-template-areas:
"slider"
"header"
"gallery1"
"gallery2"
"gallery3"
"gallery4"
"gallery5"
"gallery6"
"gallery7"
"gallery8"
"fotter";
}
}
.slider{
    grid-area: slider;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2rem;
}
.slider ul{
    list-style: none;
}
.slider ul li a{
    list-style: none;
    color: #41576D;
    font-weight: normal;
}
.slider div{
    padding-left: 40px;
}
.head{
    padding-top: 40px;
}
.bold{
    font-size: 18px;
}
.icon{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.icon a{
    background: rgba(1, 43, 85, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0.5rem;
    margin-top: 10px;
    margin-right: 10px;
}
.header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-left: 12% ;
    padding-right: 12%;
    padding-bottom: 90px;
    padding-top: 110px;
}
.header h1{
    font-weight: normal;
    font-size: 28px;
}
.header p{
    color: #597188;
    font-size: 18px;
}
@media only screen and (max-width: 650px){
    .header h1{
        font-size: 14px;
    }

    }
.gallery1 {
    grid-area: gallery1;
    background-image: url("../img/708b8dc0-f0cc-41ab-920a-b5663106c677_rw_1920.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.gallery2 {
    grid-area: gallery2;
    background-image: url("../img/128176fa-0cdd-48c1-9b06-5f68b21ae62e_rw_1920.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.gallery3 {
    grid-area: gallery3;
    background-image: url("../img/06aef632-426c-47e3-a5dd-8d403d9994f5_rw_1920.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.gallery4 {
    grid-area: gallery4;
    background-image: url("../img/e73bcc61-1003-48e5-abc2-d7977b5b9425_rw_1920.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.gallery5 {
    grid-area: gallery5;
    background-image: url("../img/24dbc1fb-1f7d-42ed-92a0-5de1b541110c_rw_1920.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    ;
}
.gallery6 {
    grid-area: gallery6;
    background-image: url("../img/30eb2ce2-6caf-48da-8dbe-77b4d15a3fea_rw_1920.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.gallery7 {
    grid-area: gallery7;
    background-image: url("../img/8be71245-811c-47d3-90d6-e899373ebdd7_rw_1920.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.gallery8 {
    grid-area: gallery8;
    background-image: url("../img/8cd3e992-afc3-4b42-8578-3e21f5474aa4_rw_1920.jpg");
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.fotter{
    grid-area: fotter;
    row-gap: 10px;
    column-gap: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.fotter div{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;

}
.fotter div a{
    background: rgba(1, 43, 85, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0.5rem;
    margin-right: 10px;
}
.fotter div h5{
    color: #41576D;
    font-weight: normal;
}
label #sign-one,
label #sign-two{
    font-size: 30px;
    color: black;
    line-height: 50px;
    margin-right: 30px;
    display: none;
    cursor: pointer;
}
#res-menu{
    display: none;
}
@media only screen and (max-width: 650px){
    label #sign-one{
        display: block;
        float: right;
    }
    nav{
        opacity: 1;
        transition: visibility 0s ease 0s, opacity 0.2s ease 0s;
        visibility: visible;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: white;
        top: 10%;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 10;
        display: block;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #res-menu:checked ~ ul{
        left: 0;
    }
    #res-menu:checked ~ label #sign-one{
        display: none;
    }
    #res-menu:checked ~ label #sign-two{
        display: block;
        float: right;
        position: fixed;
        right: 0;
    }
    .a{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
}
.a{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.a a{
    background: rgba(1, 43, 85, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0.5rem;
    margin-right: 10px;
}

